
@keyframes anim_background
{
	from	{background-position: 0px;}
	to		{background-position: 800px;}
}

@font-face
{
    font-family: hectic;
    src: url("./hectic.ttf");
}

body
{
	margin:				0px;
	padding:			0px;
	min-width:			800px;
	width:				100%;
	background-color:	#66ccff;
	font-family: 		"hectic", monospace;
	font-size:			23px;
	font-weight:		bold;
}

.hoverable:hover
{
	letter-spacing:		5px;
}

/*
********************************************************************************
*** TITLES *********************************************************************
********************************************************************************
*/

h1 {font-size:			23px;}
h2 {font-size:			23px;}
h3 {font-size:			23px;}
h4 {font-size:			23px;}

.title {text-align:		center;}

/*
********************************************************************************
*** HEADER *********************************************************************
********************************************************************************
*/

/*
**************************************************
*** TITLES ***************************************
**************************************************
*/

header h1
{
	background-image:		url("./darwin-knows.png");
	background-repeat:		no-repeat;
	background-position:	center;
	width:					100%;
	height:					200px;
	line-height:			200px;
	text-align:				center;
}

header h1:hover
{
	background-image:		url("./darwin-knows-hover.png");
}

header h1 a
{
	display:				block;
	width:					100%;
	height:					100%;
}

header h2
{
	background-image:		url("./title-page.png");
	background-repeat:		repeat-x;
	width:					100%;
	height:					156;
	line-height:			156px;
	margin:					0px;
	text-align:				center;
	animation:				anim_background 20s linear 0s infinite;
}

/*
**************************************************
*** INDEX ****************************************
**************************************************
*/

header nav
{
	width:				800px;
	margin:				auto;
}

header nav li
{
	background-image:	url("./index.png");
	background-repeat:	no-repeat;
	margin-top:			5px;
	margin-left:		0px;
	padding-left:		30px;
	height:				26px;
	width:				800px;
	line-height:		26px;
	list-style-type:	none;
}

header nav li:hover
{
	background-image:	url("./index_hover.png");
}

header nav a
{
	color:				black;
	text-decoration:	none;
	display:			block;
}

/*
********************************************************************************
*** ARTICLE ********************************************************************
********************************************************************************
*/

/*
**************************************************
*** DIVISIONS ************************************
**************************************************
*/

article h3
{
	background-image:		url("./title-chapter.png");
	background-repeat:		repeat-x;
	background-position:	right;
	width:					100%;
	height:					114px;
	line-height:			114px;
	text-align:				center;
	animation:				anim_background 20s linear 0s infinite;
}

article h4
{
	background-image:		url("./title-subchapter.png");
	background-repeat:		repeat-x;
	background-position:	right;
	width:					100%;
	height:					79px;
	line-height:			79px;
	text-align:				center;
	animation:				anim_background 20s linear 0s infinite;
}

/*
******************************
*** CONTENT ******************
******************************
*/

article .content
{
	width:				800px;
	margin:				auto;
}

/*
******************************
*** LINKS ********************
******************************
*/

article .content a
{
	color:				white;
	text-decoration:	none;
}

article .content .big_link
{
	background-image:	url("./link.png");
	background-repeat:	no-repeat;
	background-position:	10px;
	color:				black;
	display:			block;
	width:				800px;
	height:				50px;
	line-height:		50px;
	text-decoration:	none;
	vertical-align:		middle;
	padding-left:		60px;
}

article .content .big_link:hover
{
	background-image:	url("./link_hover.png");
}

/*
******************************
*** LISTS ********************
******************************
*/

article .content ul li
{
	background-image:	url("./list.png");
	background-repeat:	no-repeat;
	margin-top:			15px;
	margin-left:		0px;
	padding-left:		30px;
	width:				800px;
	height:				17px;
	line-height:		17px;
	list-style-type:	none;
}

article .content ul .link:hover
{
	background-image:	url("./list_hover.png");
}

article .content ul .extra {
	display:			inline-block;
	width:				250px;
}

article .content ul li a
{
	color:				black;
	text-decoration:	none;
}
